.clear
{
    clear: both;
}

.main
{
    width: 1000px;
    min-height: 100%;
    margin: 0 auto;
    border: 1px solid;
    border-top: none;
    border-bottom: none;
}

.turquoise
{
    width: 700px;
    height: 50px;
    background: #00ffff;
    margin-bottom: 10px;
}
  
.blue
{
    width: 900px;
    height: 30px;
    background: #33ccff;
    margin-bottom: 10px;
}

.navy_blue
{
    width: 500px;
    height: 300px;
    background: #3399ff;
    padding: 20px;
    float: left;
}

.lilac
{
    width: 200px;
    height: 40px;
    background: #9999ff;
    float: left;
}

.purple
{
    width: 250px;
    height: 70px;
    background: #cc66ff;
    float: right;
    margin-bottom: 15px;
}

.red
{
    width: 100%;
    height: 50px;
    background: #ff6666;
    margin-bottom: 20px;
}

.murrey
{
    width: 100px;
    height: 70px;
    background: #660033;
    float: left;
    margin-right: 20px;
}

.dark_blue
{
    width: 80px;
    height: 70px;
    background: #000066;
    float: left;
}

.brown
{
    width: 90px;
    height: 70px;
    background: #999966;
    float: right;
}

.navy_blue2
{  
    width: 400px;
    height: 300px;
    background: #6699ff;
    float: right;
}

.navy_blue3
{
    width: 70px;
    height: 60px;
    background: #0033cc;
    float: left;
    margin-right: 10px;
}

.crimson
{
    width: 80px;
    height: 60px;
    background: #ff00ff;
    float: left;
}

.right_line
{
    float: right;
    margin-bottom: 15px;
}

.left_line
{
    float:left;
    clear: both;
    margin-bottom: 15px;
}

.violet
{
    width: 100%;
    height: 50px;
    background: #6600cc;
}
