*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: arial;
}

.title_blue_line
{
    font-size: 34px;
    font-weight: normal;
    border-bottom: solid 2px blue;
    margin-bottom: 35px;
}

.cats 
{
    width: 220px;
    height: 205px;
    border: solid 1px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}

.cats p
{
    color: rgb(50,50,46);
    margin: 0;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold; 
}

.cat1
{
    background: url("./images/texture1.jpg");
}

.cat2
{
    background: url("./images/texture3.jpg");
}

.cat3
{
    background: url("./images/texture2.jpg");
}