*
{
    margin: 0;
    padding: 0;
    outline: none;
}

body
{
    font-family: arial;
}

.benefists
{
    width: 283px;
    padding: 5px 19px 24px 15px;
    background: #f4f4f4;
}

.title_arrow
{
    width: 255px;
    height: 29px;
    padding-top: 7px;
    border-bottom: solid 6px;
    background: url(./images/arrow.png) 1px center no-repeat;
    padding-left: 28px;
}

.title_arrow h1
{
    font: bold 18px arial;    
    text-transform: uppercase;
    padding-top: 1px;
}

.benefists ul 
{
    list-style: none;   
    padding-top: 3px;
}

.benefists ul  li
{
    padding-top: 16px;
    padding-left: 28px;
    font-size: 12px;
    background: url(./images/checkbox.png) 0 14px no-repeat;
    line-height: 14px;
}

.benefists ul  li:nth-child(2)
{ 
    padding-top:15px;
    background-position: 0 13px;
}